<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mini WhatsApp Chats</title>
</head>

<body>
    <h3>All chats</h3>
    <form action="/chats/new" method="get">
    <button>New chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p><i>From: <%= chat.from %></i>
            </p>
            <div class="msg">
                <p>Message: <%= chat.msg %></p>
                <form action="/chats/<%= chat._id%>/edit">
                    <button>Edit</button>
                </form><br>
                <form action="/chats/<%= chat._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
            <p><i><b>Received by: <%= chat.to %></i></b>
            </p>
            <hr/>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
        </div>
        <br><br>
        <% } %>
</body>

</html>